.ciudadan-text {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    fill: rgb(122, 39, 111);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    z-index: 9999;
    
    transform-origin: center center; /* Ajuste del punto de giro */
    overflow: visible; /* Evita recortes */
}

.ciudadan-container {
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
}

.ciudadan-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125%;
    height: 125%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    overflow: visible; /* Evita recortes */
}


